%h1#logo
  %a.hide-text May's portfolio
%h2#name.hide-text May Kuo
%p.desc I am a front-end web developer.
%p.skill{ :"data-order" => "1"}
%p.desc#scroll (scroll down)
%nav
  %ul
    %li
      %a.link{ :href => "#"}
        %span.active
          %span.valign
            %span.vertical About
        %span.hover
          %span.valign
            %span.vertical About
    %li
      %a.link{ :href => "#"}
        %span.active
          %span.valign
            %span.vertical Works
        %span.hover
          %span.valign
            %span.vertical Works