%a{ :href => ""} 
  %h1#logo.hide-text May's portfolio
%h2#name.hide-text May Kuo
%nav
  %ul
    %li.current
      %a.link{ :href => "#"}
        %span.active
          %span.valign
            %span.vertical About
        %span.hover
          %span.valign
            %span.vertical About
    %li
      %a.link{ :href => "#works"}
        %span.active
          %span.valign
            %span.vertical Works
        %span.hover
          %span.valign
            %span.vertical Works
%p.desc#desc1 I am a front-end web developer.
%div#skillWrap
  %div#skillWrapInner
    %p.skill#skill0
    %p.skill#skill1
    %p.skill#skill2
    %p.skill#skill3
%div#scroll.hide-text (scroll down)