!!! 5
/[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8 lt-ie7\">
/[if IE 7]<html class=\"no-js lt-ie9 lt-ie8\">
/[if IE 8]<html class=\"no-js lt-ie9\">
/[if gt IE 9]<html class=\"no-js\">
%head
  %meta{ :charset => "utf-8"}
  %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
  %title title
  %meta{ :name => "viewport", :content => "width=device-width"}
  %link{ :rel => "stylesheet", :href => "app/styles/main.css"}
  %script{ :src => "vendor/modernizr/modernizr.js"}
%body
  %div#middle
  %div#container.clearfix
      
    %div.section#sectionHTML
      %svg#svg1left
      %svg#svg1right
    %div.section#sectionCSS
      %svg#svg2left
      %svg#svg2right
    %div.section#sectionJS
      %svg#svg3left
      %svg#svg3right
    %div.section#sectionOTHER
      %svg#svg4left
      %svg#svg4right

  %div#worksContainer.clearfix
    %div.workBlock#workBlock1
      %div.blockInner
        %img{ :src => "img/works/kamia_large.jpg", :alt => "kamia"}
        %div.darkenLayer
    %div.workBlock
    %div.workBlock
    %div.workBlock
    %div.workBlock
    %div.workBlock
    %div.workBlock
  %script{ :"data-main" => "app/main", :src => "vendor/requirejs/require.js"}

!= "</html>"