!!! 5
/[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8 lt-ie7\">
/[if IE 7]<html class=\"no-js lt-ie9 lt-ie8\">
/[if IE 8]<html class=\"no-js lt-ie9\">
/[if gt IE 9]<html class=\"no-js\">
%head
  %meta{ :charset => "utf-8"}
  %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
  %title title
  %meta{ :name => "viewport", :content => "width=device-width"}
  %link{ :rel => "stylesheet", :href => "app/styles/main.css"}
  %script{ :src => "vendor/modernizr/modernizr.js"}
%body
  %div#middle
  %div#container.clearfix
      
    %div.section#sectionHTML
      %svg#svg1left
      %svg#svg1right
    %div.section#sectionCSS
      %svg#svg2left
      %svg#svg2right
    %div.section#sectionJS
      %svg#svg3left
      %svg#svg3right
    %div.section#sectionOTHER
      %svg#svg4left
      %svg#svg4right

  %div#worksContainer.clearfix
    %div.workBlock#workBlock1
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, CSS
            %li javascript
        %img{ :src => "img/works/qoros_middle.jpg", :alt => "qoros"}
        %div.darkenLayer
    %div.workBlock#workBlock2
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, SASS
            %li javascript
            %li facebook
        %img{ :src => "img/works/s5_middle.jpg", :alt => "lxn s5"}
        %div.darkenLayer
    %div.workBlock#workBlock3
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, SASS
            %li javascript
            %li facebook
        %img{ :src => "img/works/u6_middle.jpg", :alt => "lxn u6"}
        %div.darkenLayer
    %div.workBlock#workBlock4
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, CSS
            %li javascript
        %img{ :src => "img/works/ardic_middle.jpg", :alt => "ardic"}
        %div.darkenLayer
    %div.workBlock#workBlock5
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, CSS
            %li javascript
            %li wordpress
        %img{ :src => "img/works/shokay_middle.jpg", :alt => "shokay"}
        %div.darkenLayer
    %div.workBlock#workBlock6
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, CSS
            %li javascript
        %img{ :src => "img/works/foreverlove_middle.jpg", :alt => "foreverlove film"}
        %div.darkenLayer
    %div.workBlock#workBlock7
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, CSS
            %li javascript
            %li design with Photoshop
        %img{ :src => "img/works/wedding_middle.jpg", :alt => "foreverlove film"}
        %div.darkenLayer
    %div.workBlock#workBlock8
      %div.blockInner.clearfix
        %div.workDes
          %ul
            %li html, CSS
            %li javascript
            %li wordpress
        %img{ :src => "img/works/kamia_middle.jpg", :alt => "kamia"}
        %div.darkenLayer
  
  %div#contactWrap
    %ul
      %li
        %a#emailContent schwarzmeifu@gmail.com
        %a.link#emailLink{ :href => "#"}
          %span.active
            %span.valign
              %span.vertical email
          %span.hover
            %span.valign
              %span.vertical email
      %li
        %a.link{ :href => "#"}
          %span.active
            %span.valign
              %span.vertical github
          %span.hover
            %span.valign
              %span.vertical github

  %script{ :"data-main" => "app/main", :src => "vendor/requirejs/require.js"}

!= "</html>"
