!!! 5
/[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8 lt-ie7\">
/[if IE 7]<html class=\"no-js lt-ie9 lt-ie8\">
/[if IE 8]<html class=\"no-js lt-ie9\">
/[if gt IE 9]<html class=\"no-js\">
%head
  %meta{ :charset => "utf-8"}
  %meta{ :"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
  %title title
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %link{ :href => "favicon.png", :rel => "icon shortcut"}
  %link{ :rel => "stylesheet", :href => "app/styles/main.css"}
  %script{ :src => "vendor/modernizr/modernizr.js"}
%body
  %div#middle
  %div#container.clearfix
      
    %div.section#sectionHTML
      %img.topicPic{ :src => "img/html5.png", :alt => "HTML5"}
      %svg#svg1left
      %svg#svg1right
    %div.section#sectionCSS
      %img.topicPic{ :src => "img/css3.png", :alt => "CSS3"}
      %svg#svg2left
      %svg#svg2right
    %div.section#sectionJS
      %img.topicPic{ :src => "img/javascript.jpg", :alt => "javascript"}
      %svg#svg3left
      %svg#svg3right
    %div.section#sectionOTHER
      %svg#svg4left
      %svg#svg4right

  %div#worksContainer.clearfix
  
  %div#contactWrap
    %ul
      %li
        %a#emailContent{ :href => "mailto:schwarzmeifu@gmail.com", :target => "blank"} schwarzmeifu@gmail.com
        %a.link#emailLink{ :href => "#"}
          %span.active
            %span.valign
              %span.vertical 
                %i.icon-mail-3
          %span.hover
            %span.valign
              %span.vertical email
      
      %li
        %a.link{ :href => "http://www.linkedin.com/in/meifukuo", :target => "blank"}
          %span.active
            %span.valign
              %span.vertical
                %i.icon-linkedin-3
          %span.hover
            %span.valign
              %span.vertical LinkedIn

      %li
        %a.link{ :href => "https://github.com/meifu", :target => "blank"}
          %span.active
            %span.valign
              %span.vertical
                %i.icon-github
          %span.hover
            %span.valign
              %span.vertical github

      %li
        %a.link{ :href => "https://bitbucket.org/meifu/profile/repositories", :target => "blank"}
          %span.active
            %span.valign
              %span.vertical
                %i.icon-bitbucket
          %span.hover
            %span.valign
              %span.vertical bitbucket

  %script{ :"data-main" => "app/main", :src => "vendor/requirejs/require.js"}

!= "</html>"
