<h1 id='logo'>
  <a class='hide-text'>May's portfolio</a>
</h1>
<h2 class='hide-text' id='name'>May Kuo</h2>
<p class='desc'>I am a front-end web developer.</p>
<p class='skill' data-order='1'></p>
<p class='desc' id='scroll'>(scroll down)</p>
<nav>
  <ul>
    <li>
      <a class='link' href='#'>
        <span class='active'>
          <span class='valign'>
            <span class='vertical'>About</span>
          </span>
        </span>
        <span class='hover'>
          <span class='valign'>
            <span class='vertical'>About</span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a class='link' href='#'>
        <span class='active'>
          <span class='valign'>
            <span class='vertical'>Works</span>
          </span>
        </span>
        <span class='hover'>
          <span class='valign'>
            <span class='vertical'>Works</span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</nav>
