<a href=''>
  <h1 class='hide-text' id='logo'>May's portfolio</h1>
</a>
<h2 class='hide-text' id='name'>May Kuo</h2>
<nav>
  <ul>
    <li class='current'>
      <a class='link' href='/'>
        <span class='active'>
          <span class='valign'>
            <span class='vertical'>About</span>
          </span>
        </span>
        <span class='hover'>
          <span class='valign'>
            <span class='vertical'>About</span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a class='link' href='#works'>
        <span class='active'>
          <span class='valign'>
            <span class='vertical'>Works</span>
          </span>
        </span>
        <span class='hover'>
          <span class='valign'>
            <span class='vertical'>Works</span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</nav>
<p class='desc' id='desc1'>I am a front-end web developer.</p>
<div id='skillWrap'>
  <div id='skillWrapInner'>
    <p class='skill' id='skill0'></p>
    <p class='skill' id='skill1'></p>
    <p class='skill' id='skill2'></p>
    <p class='skill' id='skill3'></p>
    <p class='skill' id='skill4'></p>
  </div>
</div>
<div class='hide-text' id='scroll'>(scroll down)</div>
